# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
venv/
env/
ENV/
.pipenv/
pipenv/
*.egg-info/
.eggs/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
sdist/
wheelhouse/
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# profiling
*.lprof
*.prof
*.dat
*.pstat

# Cython debug symbols
cython_debug/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# dotenv
.env
.env.*

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# PDM
__pypackages__/

# Hatch
.hatch/

# Poetry
poetry.lock
